#legend {
	position: absolute;
	left: 400px;
	top: 300px;
	width: 150px;
	height: 100px;
	text-align: center;
}

.legendlabel {
	margin: 5px;
}

.legendblock {
	opacity: 0.8;
	padding: 5px;
	width: 100%;
	height: 20%;
}

.NameLink {
	text-decoration: none;
}

.roomfill {
	/*opacity: 0.8;*/
	width: 100px;
	height: 100px;
	position: absolute;
	left: 0px;
	right: 0px;
}

.roomlabel {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
}

.east_room {
	position: absolute;
	width: 62px;
	height: 34px;
	left: 219px;
}

.west_room {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 134px;
}

.northt_room {
	position: absolute;
	width: 46px;
	height: 42px;
	top: 40px;
}

.northb_room {
	position: absolute;
	width: 47px;
	height: 42px;
	top: 104px;
}

.south_room {
	position: absolute;
	width: 46px;
	height: 43px;
	top: 789px;
}

#r3126 {
	left: 185px;
}

#r3125 {
	left: 235px;
}

#r3111 {
	top: 691px;
}

#r3110 {
	top: 691px;
}

#r3107 {
	top: 655px;
}

#r3106 {
	top: 655px;
}

#r3103 {
	top: 618px;
}

#r3099 {
	top: 582px;
}

#r3095 {
	top: 546px;
}

#r3094 {
	top: 546px;
}

#r3091 {
	top: 510px;
}

#r3090 {
	top: 510px;
}

#r3086 {
	top: 474px;
}


#r3074 {
	top: 365px;
}

#r3071 {
	top: 329px;
}

#r3070 {
	top: 329px;
}

#r3067 {
	top: 293px;
}

#r3066 {
	top: 293px;
}

#r3063 {
	top: 257px;
}

#r3059 {
	top: 221px;
}

#r3055 {
	top: 185px;
}

#r3054 {
	top: 185px;
}

#r3051 {
	top: 149px;
}

#r3050 {
	top: 149px;
}


#r3024 {
	left: 286px;
}

#r3020 {
	left: 335px;
}

#r3016 {
	left: 384px;
}

#r3013 {
	left: 435px;
}

#r3009 {
	left: 484px;
}
