#legend {
	position: absolute;
	left: 400px;
	top: 100px;
	width: 150px;
	height: 100px;
	text-align: center;
}

.legendlabel {
	margin: 5px;
}

.legendblock {
	padding: 5px;
	width: 100%;
	height: 20%;
}

.NameLink {
	text-decoration: none;
}

.roomfill {
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	right: 0px;
}

.roomlabel {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	right: 0px;
	text-align: center;
	white-space: nowrap;
	font-size: 14px;
}

.east_room {
	position: absolute;
	width: 62px;
	height: 34px;
	left: 219px;
}

.west_room {
	position: absolute;
	width: 64px;
	height: 34px;
	left: 134px;
}

.northt_room {
	position: absolute;
	width: 46px;
	height: 42px;
	top: 40px;
}

.northb_room {
	position: absolute;
	width: 47px;
	height: 42px;
	top: 104px;
}

.south_room {
	position: absolute;
	width: 46px;
	height: 43px;
	top: 789px;
}

#r3126 {
	left: 1500px;
	top: 600px;
}

#r3125 {
	left: 1500px;
	top: 500px;
}


#r3111 {
	left: 1290px;
	top: 500px;
}

#r3110 {
	left: 1290px;
	top: 700px;
}

#r3107 {
	left: 1220px;
	top: 500px;
}

#r3106 {
	left: 1220px;
	top: 700px;
}

#r3103 {
	left: 1150px;
	top: 500px;
}

#r3099 {
	left: 1080px;
	top: 500px;
}

#r3095 {
	left: 1010px;
	top: 500px;
}

#r3094 {
	left: 1010px;
	top: 700px;
}

#r3091 {
	left: 940px;
	top: 500px;
}

#r3090 {
	left: 940px;
	top: 700px;
}

#r3086 {
	left: 870px;
	top: 700px;
}


#r3074 {
	left: 660px;
	top: 700px;
}

#r3071 {
	left: 590px;
	top: 500px;
}

#r3070 {
	left: 590px;
	top: 700px;
}

#r3067 {
	left: 520px;
	top: 500px;
}

#r3066 {
	left: 520px;
	top: 700px;
}

#r3063 {
	left: 450px;
	top: 500px;
}

#r3059 {
	left: 380px;
	top: 500px;
}

#r3055 {
	left: 310px;
	top: 500px;
}

#r3054 {
	left: 310px;
	top: 700px;
}

#r3051 {
	left: 240px;
	top: 500px;
}

#r3050 {
	left: 240px;
	top: 700px;
}


#r3038 {
	left: 40px;
	top: 700px;
}

#r3024 {
	left: 40px;
	top: 410px;
}

#r3020 {
	left: 40px;
	top: 310px;
}

#r3016 {
	left: 40px;
	top: 210px;
}

#r3013 {
	left: 140px;
	top: 110px;
}

#r3009 {
	left: 140px;
	top: 10px;
}
