.room {
	background: red;
	position: absolute;
	opacity: 0.5;
}

.east_room {
	width: 62px;
	height: 34px;
	left: 219px;
}

.west_room {
	width: 64px;
	height: 34px;
	left: 134px;
}

.northt_room {
	width: 46px;
	height: 42px;
	top: 40px;
}

.northb_room {
	width: 47px;
	height: 42px;
	top: 104px;
}

.south_room {
	width: 46px;
	height: 43px;
	top: 789px;
}

#r3126 {
	left: 235px;
}

#r3125 {
	left: 185px;
}

#r3111 {
	top: 691px;
}

#r3110 {
	top: 691px;
}

#r3108 {
	top: 655px;
}

#r3107 {
	top: 655px;
}

#r3103 {
	top: 618px;
}

#r3099 {
	top: 582px;
}

#r3095 {
	top: 546px;
}

#r3094 {
	top: 546px;
}

#r3091 {
	top: 510px;
}

#r3090 {
	top: 510px;
}

#r3088 {
	top: 474px;
}


#r3074 {
	top: 365;
}

#r3071 {
	top: 329;
}

#r3070 {
	top: 329;
}

#r3067 {
	top: 293;
}

#r3066 {
	top: 293;
}

#r3063 {
	top: 257;
}

#r3059 {
	top: 221;
}

#r3055 {
	top: 185;
}

#r3054 {
	top: 185;
}

#r3051 {
	top: 149;
}

#r3050 {
	top: 149;
}


#r3024 {
	left: 286;
}

#r3020 {
	left: 335;
}

#r3016 {
	left: 384;
}

#r3013 {
	left: 435;
}

#r3009 {
	left: 484;
}
