#tempOverlay {
	position: absolute;
	top: 697px;
	left: 18px;
	width: 82px;
	height: 90px;
	overflow: hidden;
}

.Sensor {
	position: absolute;
	width: 50px;
	height: 50px;
}

#sensor0 {
	top: -5px;
	left: -25px;
}

#sensor1 {
	top: -10px;
	left: 40px;
}

#sensor2 {
	top: 15px;
	left: 40px;
}

#sensor3 {
	top: -10px;
	left: 55px;
}

#sensor4 {
	top: 55px;
	left: 40px;
}

#sensor5 {
	top: -10px;
	left: 40px;
}

#sensor6 {
	top: 50px;
	left: -25px;
}

#sensor7 {
	top: 30px;
	left: 40px;
}

#sensor8 {
	top: -10px;
	left: -25px;
}

#sensor9 {
	top: 55px;
	left: -25px;
}

#sensor10 {
	top: 20px;
	left: 55px;
}

