#tempOverlay {
	position: absolute;
	top: 697px;
	left: 18px;
	width: 82px;
	height: 90px;
}

.Sensor {
	position: absolute;
	width: 30px;
	height: 30px;
}

#sensor0 {
	top: 0px;
	left: 0px;
}

#sensor1 {
	top: 20px;
	left: 0px;
}

#sensor2 {
	top: 40px;
	left: 0px;
}

#sensor3 {
	top: 60px;
	left: 0px;
}

#sensor4 {
	top: 60px;
	left: 17px;
}

#sensor5 {
	top: 60px;
	left: 34px;
}

#sensor6 {
	top: 60px;
	left: 52px;
}

#sensor7 {
	top: 40px;
	left: 52px;
}

#sensor8 {
	top: 20px;
	left: 52px;
}

#sensor9 {
	top: 0px;
	left: 52px;
}

#sensor10 {
	top: 0px;
	left: 34px;
}

